<hf-tracker>
<div class="wrapper">
  <div class="card">
    <!-- todo: shop now must be a component  -->
    <div class="card-tag">Spring collection</div>
    <img loading="lazy" [src]="'assets/images/home/3.jpg'" />

    <hf-home-search></hf-home-search>
  </div>
  <div class="card">
    <hf-home-market-message></hf-home-market-message>
  </div>
  <div class="card">
    <span class="card-text-hashtag">#HATScollaction</span>
  </div>
  <div class="card">
    <span class="card-text-hashtag">#sockscollaction</span>

  </div>
</div>
</hf-tracker>
