      
  <div class="wrapper">
    <div class="card">
      <!-- todo: shop now must be a component  -->
      <div class="card-tag">Spring collection</div>
      <img loading="lazy" [src]="'assets/images/home/3.jpg'" />

      <hf-home-search></hf-home-search>
    </div>
    <div class="card">
      <hf-home-market-message></hf-home-market-message>
    </div>
    <div class="card">
      <span class="card-text-hashtag">#HATScollaction</span>
    </div>
    <div class="card">
      <span class="card-text-hashtag">#sockscollaction</span>
    </div>
    <span class="wrapper-title">Spring collections</span>

    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>

    <p class="marking-message">
      Are you tired of settling for mediocre fashion?☹️ Look no further than ,
      the lifestyle brand that's shaking up the fashion world. HIT is not just a
      clothing website; it's a community of young adults who refuse to blend in
      and want to express their individuality through fashion.
    </p>
  </div>
