.menu-item {
  direction: rtl;
}
.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-alignment {
  vertical-align: middle;
  width: 20px
}

.search-icon {
  vertical-align: middle;
}
.search-container {
  border: none;
  height: 30px;
}