
<hf-admin-space></hf-admin-space>
<ng-container *ngIf="model">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ model.title }}</mat-card-title>
      <mat-card-subtitle>Category</mat-card-subtitle>
    </mat-card-header>
    <ng-container [formGroup]="form" *ngIf="form">
      <div class="flex-wrap p-3">
        <div class="col-3">
          <div class="m-2">
            <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" required />
              <mat-error *ngIf="form.get('title').invalid">{{
                getErrorMessage()
              }}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </ng-container>
    <mat-card-actions align="end">
      <ng-container *ngIf="!isEditing; else editMode">
        <button mat-button (click)="handleEdit()">Edit</button>
      </ng-container>
      <ng-template #editMode>
        <button class="m-1" mat-button (click)="handleDisable()">Cancel</button>
        <button class="btn-primary" mat-flat-button (click)="submitForm()">
          Save Changes
        </button>
      </ng-template>
    </mat-card-actions>
    <mat-card-footer *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</ng-container>
