<footer class="footer-basic mt-3">
    <div class="social">
      <a href="#"
        ><i class="icon ion-social-instagram"
          ><img
            src="../../../../assets/svg/social/icons8-facebook.svg"
            alt="" /></i></a
      ><a href="#"
        ><i class="icon ion-social-snapchat"
          ><img
            src="../../../../assets/svg/social/icons8-instagram.svg "
            alt="" /></i></a
      ><a href="#"
        ><i class="icon ion-social-twitter">
          <img
            src="../../../../assets/svg/social/icons8-twitter.svg"
            alt="" /></i></a
      ><a href="#"
        ><i class="icon ion-social-facebook"
          ><img src="../../../../assets/svg/social/icons8-youtube.svg" alt="" /></i
      ></a>
    </div>
    <ul class="d-flex justify-content-center gap-1">
      <li class="list-inline-item">
        <a [routerLink]="['./']">خانه</a>
      </li>
      <li class="list-inline-item"><a href="#">سرویس ها</a></li>
      <li class="list-inline-item">
        <a href="../contact/contact.html">درباره ما</a>
      </li>
    </ul>
    <p class="copyright">یه جا © 2018</p>
  </footer>