<mat-toolbar [style.padding]="'0 7px'" class="card-shadow">
  <div class="d-flex justify-content-between w-100">
    <div class="app-info d-flex align-item-center">
      <button class="mr-3" mat-icon-button (click)="isExpanded = !isExpanded">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="app-name item-color">{{ applicationName }}</h1>
    </div>

    <button class="item-color" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    
    <mat-menu  #menu="matMenu" >
      <button (click)="handleLogout()" mat-menu-item>Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #sidenav
    class="sidenav-sidenav bg-color"
    mode="side"
    opened="true"
  >
    <mat-nav-list>
      <mat-list-item
        *ngFor="let link of links"
        (click)="onClick(link)"
        class="sidebar"
      >
        <div class="sidebar-item">
          <mat-icon class="m-1" mat-list-icon>{{ link.icon.matIcon }}</mat-icon>

          <span
            class="sidebar-item-display-text"
            *ngIf="isExpanded || isShowing"
            >{{ link.displayText }}</span
          >
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="container">
    <ng-content></ng-content>
  </div>
</mat-sidenav-container>
