.sidenav-container {
  height: 100%;
}
.sidenav-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.sidenav-sidenav {
  user-select: none;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
}
.submenu.expanded {
  transform: scaleY(1);
}

.bg-color {
  background-color: var(--gray-9);
}

.item-color {
  color: var(--gray-9);
}

.parent {
  font-size: 0.875rem;
  font-weight: 400;
  .mat-icon {
    color: var(--gray-2);
    font-size: 1.375rem;
  }
  .display-text {
    color: var(--gray-2);
  }
}

#navbar-menu ::ng-deep .mdc-list{
  padding: 0;
}