.sidenav-container {
  height: 100%;
}
.sidenav-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.sidenav-sidenav {
  user-select: none;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
}
.submenu.expanded {
  transform: scaleY(1);
}

.bg-color {
  background-color: var(--gray-9);
}

.item-color {
  color: var(--gray-9);
}

.sidebar {
  font-size: 0.875rem;
  font-weight: 400;
  padding: var(--space-7) var(--space-5);
  
  &-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: var(--gray-2);
    gap: var(--space-4);
  }

}

#navbar-menu ::ng-deep .mdc-list {
  padding: 0;
}
