:root {
  --base-spacing: 4px;
  --base-text-size: 0.7rem;
  --base-raduis: 0.25rem;

  --background: #f5f6fa;
  --main: #ffffff;
  --secondary: #404040;
  --primary: #036ef5;
  --pure-black: #000000;

  --gray-6: #587693;
  --gray-6: #587693;

  --width-xl: 1200px;
  --width-lg: 992px;
  --width-md: 768px;
  --width-sm: 576px;

  --spacer: 1.142em;
  --spacer-5: var(--spacer) * 5;
}
