<div>
  <h1 style="direction: rtl" mat-dialog-title>ثبت نظر</h1>
  <div mat-dialog-content>
    <mat-form-field
      class="text-area-container mt-2"
      appearance="outline"
      dir="rtl"
    >
      <mat-label>نظر خود را وارد نمایید</mat-label>
      <textarea
        dir="ltr"
        matInput
        [(ngModel)]="content"
        rows="2"
      ></textarea>
    </mat-form-field>
  </div>
  <div
    mat-dialog-actions
    class="btns-container"
    style="direction: rtl"
  >
    <button mat-button (click)="onNoClick()">بستن</button>
    <button
      mat-button
      class="btn-primary"
      [disabled]="!this.data"
      mat-button
      (click)="submit()"
    >
      ثبت نظر
    </button>
  </div>
</div>
