/* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
@import url(fontiran.css);
* {
  font-family: IRANSans;
}
body {
  font-family: IRANSans !important;
  font-weight: 300;
  background-color: #f5f6fa;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,

h1 {
  font-weight: bold;
}
