<div
  class="d-flex direction-column h-100 justify-content-center align-item-center"
>
  <div class="card d-flex direction-column p-4 direction-rtl">
    <div class="d-flex justify-content-center">
      <img src="../../../../assets/logo/logo Dark.svg" alt="" height="60" />
    </div>
    <h3>ورود</h3>
    <p>سلام! اطلاعات فرم زیر را پر کنید</p>
    <div class="p-3 d-flex direction-column">
      <ng-container [formGroup]="form" *ngIf="form">
        <mat-form-field dir="rtl" appearance="outline">
          <mat-label>ایمیل خود را وارد کنید</mat-label>
          <input
            dir="ltr"
            matInput
            placeholder="pat@example.com"
            formControlName="email"
            required
          />
          <mat-error *ngIf="form.get('email').invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field dir="rtl" appearance="outline">
          <mat-label>رمز عبور خود را وارد کنید</mat-label>
          <input
            dir="ltr"
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            required
          />
          <mat-error *ngIf="form.get('password').invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <button (click)="onLogin()" class="w-100 btn-primary" mat-flat-button>
          ورود
        </button>
      </ng-container>
    </div>
  </div>
</div>
