<div
  class="d-flex direction-column h-100 justify-content-center align-item-center"
>
  <div class="card d-flex direction-column p-4 direction-rtl">
    <div class="d-flex justify-content-center">
      <img src="../../../../assets/logo/logo Dark.svg" alt="" height="60" />
    </div>
    <h3>ثبت نام</h3>
    <p>سلام! اطلاعات فرم زیر را پر کنید</p>
    <div class="p-3 d-flex direction-column">
      <ng-container [formGroup]="form" *ngIf="form">
        <mat-form-field dir="rtl" appearance="outline">
          <mat-label>ایمیل خود را وارد کنید</mat-label>
          <input
            dir="ltr"
            dir="ltr"
            type="email"
            matInput
            placeholder="pat@example.com"
            formControlName="email"
            required
          />
          <mat-error
            *ngIf="
              form.get('email').invalid || form.get('email').hasError('email')
            "
            >{{ getErrorMessage() }}</mat-error
          >
        </mat-form-field>

        <mat-form-field dir="rtl" appearance="outline">
          <mat-label>نام خود را وارد کنید</mat-label>
          <input
            dir="ltr"
            matInput
            placeholder="John"
            formControlName="name"
            required
          />
          <mat-error *ngIf="form.get('name').invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field dir="rtl" appearance="outline">
          <mat-label>رمز عبور خود را وارد کنید</mat-label>
          <input
            dir="ltr"
            matInput
            type="password"
            placeholder=" کاراکتر باید باشد 8"
            formControlName="password"
            required
          />
          <mat-error *ngIf="form.get('password').invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field dir="rtl" appearance="outline">
          <mat-label>شماره تلفن خود را وارد کنید</mat-label>
          <input
            dir="ltr"
            matInput
            placeholder="9123456789"
            formControlName="phoneNumber"
            max="10"
            type="tel"
            required
          />
          <mat-error *ngIf="form.get('phoneNumber').invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field dir="rtl" appearance="outline">
          <mat-label>جنسیت</mat-label>

          <mat-select dir="rtl" formControlName="genderId">
            <mat-option
              dir="rtl"
              *ngFor="let item of genderField"
              [value]="item.value"
              >{{ item.name }}</mat-option
            >
          </mat-select>
          <mat-error *ngIf="form.get('genderId').invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <button (click)="onLogin()" class="w-100 btn-primary" mat-flat-button>
          ثبت نام
        </button>
      </ng-container>
    </div>
  </div>
</div>
