<div style="direction: rtl">
  <div class="wrapper">
    <div class="imgBx">
      <img
        class="img-scale"
        [src]="data.image"
        [alt]="data.name"
      />
    </div>
    <div class="details">
      <div class="content">
        <h2>
          {{ data.name }} <br />
          <span>{{ data.categoryTitle }}</span>
        </h2>
        <p>{{ data.description }}</p>

        <h3>{{ data.cost }} تومان</h3>
        <button mat-flat-button class="m-3 btn-primary mt-3">
          اضافه کردن به سبد خرید
        </button>
      </div>
    </div>
  </div>

  <div>
    <div class="card p-2">
      <mat-card-content>
        <div>
          <h3 class="comment-container">
            دیدگاه

            <button
              class="my-4 "
              mat-flat-button
              (click)="openDialog()"
            >
              ثبت دیدگاه جدید
            </button>
          </h3>
        </div>

        <div class="row justify-content-center">
          <ng-container
            *ngIf="data.comment.length > 0; else noComment"
          >
            <div
              *ngFor="let comment of data.comment"
              class="p-2 my-3 comment-wrapper"
            >
              <b>{{ comment.username }}</b>
              <div class="my-2 name-seprator"></div>
              <div>{{ comment.content }}</div>
            </div>
          </ng-container>
          <ng-template #noComment>
            <div class="comment-empty">
              دیدگاهی ثبت نشده است
            </div>
          </ng-template>
        </div>
      </mat-card-content>
    </div>
  </div>
</div>
