<hf-admin-breadcrumb *ngIf="model">
  <a [routerLink]="'../'">Comment</a>
  <span current
    >Comment username: {{ model.username }} at
    {{ model.creationTime }} - ({{
      commentStatusLabel[model.isConfirmed]
    }})</span
  >
</hf-admin-breadcrumb>
<hf-admin-space></hf-admin-space>

<mat-card class="p-3" *ngIf="model">
  <div class="d-flex justify-content-between">
    <button
      class="m-1"
      mat-button
      color="warn"
      (click)="reject()"
    >
      reject
    </button>
    <button
      class="btn-primary"
      mat-flat-button
      (click)="confirmed()"
    >
      confirmed
    </button>
  </div>
  <div class="flex-wrap">
    <p>
      {{ model.content }}
    </p>
  </div>
  <mat-card-footer *ngIf="loading">
    <mat-progress-bar
      mode="indeterminate"
    ></mat-progress-bar>
  </mat-card-footer>
</mat-card>
