<div class="d-flex my-2 justify-content-end">
  <button
    #refresh_button
    class="refesh-button"
    mat-icon-button
    (click)="refresh($event)"
  >
    <mat-icon class="refesh-icon">refresh</mat-icon>
  </button>
</div>
<ag-grid-angular
  style="width: 100%; height: 100%; box-sizing: border-box"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData$ | async"
  [rowSelection]="rowSelection"
  [animateRows]="true"
  (gridReady)="_onGridReady($event)"
  (cellClicked)="_onCellClicked($event)"
  (rowDoubleClicked)="_onCellDoubleClicked($event)"
></ag-grid-angular>
