.img-container {
  width: 100px;
}
.product-info {
  display: flex;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
}

.empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}


.pointer{
  cursor: pointer;
}