<hf-admin-breadcrumb *ngIf="model">
  <a [routerLink]="'../'">Order</a>
  <span current>{{ model.code }}</span>
</hf-admin-breadcrumb>
<hf-admin-space></hf-admin-space>

<mat-card class="p-3" *ngIf="model">
  <div class="d-flex justify-content-between">
    <button
      class="m-1"
      mat-button
      (click)="handlePrevious()"
      [disabled]="model.status <= 1"
    >
      Previous
    </button>
    <button
      class="btn-primary"
      mat-flat-button
      (click)="handleAfter()"
      [disabled]="model.status >= 5"
    >
      Next
    </button>
  </div>
  <div class="flex-wrap">
    <div class="col-3">
      <div class="m-2">
        <mat-form-field appearance="outline">
          <mat-label>code</mat-label>
          <input matInput [(ngModel)]="model.code" [disabled]="true" />
        </mat-form-field>
      </div>
    </div>
    <div class="col-3">
      <div class="m-2">
        <mat-form-field appearance="outline">
          <mat-label>username</mat-label>
          <input matInput [(ngModel)]="model.username" [disabled]="true" />
        </mat-form-field>
      </div>
    </div>
    <div class="col-3">
      <div class="m-2">
        <mat-form-field appearance="outline">
          <mat-label>Creation Time</mat-label>
          <input matInput [(ngModel)]="model.creationTime" [disabled]="true" />
        </mat-form-field>
      </div>
    </div>
    <div class="col-3">
      <div class="m-2">
        <mat-form-field appearance="outline">
          <mat-label>Last Change</mat-label>
          <input matInput [(ngModel)]="model.lastChange" [disabled]="true" />
        </mat-form-field>
      </div>
    </div>
    <div class="col-3">
      <div class="m-2">
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <input matInput [(ngModel)]="currentStatusLabel" [disabled]="true" />
        </mat-form-field>
      </div>
    </div>
    <div class="col-3">
      <div class="m-2">
        <mat-form-field appearance="outline">
          <mat-label>User Phone Number</mat-label>
          <input
            matInput
            [(ngModel)]="model.userPhoneNumber"
            [disabled]="true"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="col-3">
      <div class="m-2">
        <mat-form-field appearance="outline">
          <mat-label>User Email</mat-label>
          <input matInput [(ngModel)]="model.userEmail" [disabled]="true" />
        </mat-form-field>
      </div>
    </div>
  </div>
  <mat-card-footer *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

<hf-admin-space></hf-admin-space>
<hit-flow-order-item-list [orderId]="id"></hit-flow-order-item-list>
