<hf-admin-space></hf-admin-space>
<mat-card>
  <mat-card-header>
    <mat-card-title>Create Product</mat-card-title>
    <mat-card-subtitle>Please Enter Information</mat-card-subtitle>
  </mat-card-header>
  <ng-container [formGroup]="form" *ngIf="form">
    <div class="flex-wrap p-3">
      <div class="col-3">
        <div class="m-2">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required />
            <mat-error *ngIf="form.get('name').invalid">{{
              getErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-3">
        <div class="m-2">
          <mat-form-field appearance="outline">
            <mat-label>cost</mat-label>
            <input type="number" matInput formControlName="cost" required />
            <mat-error *ngIf="form.get('cost')?.invalid">{{
              getErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-3">
        <div class="m-2">
          <mat-form-field appearance="outline">
            <mat-label>amount</mat-label>
            <input type="number" matInput formControlName="amount" required />
            <mat-error *ngIf="form.get('amount').invalid">{{
              getErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-3">
        <div class="m-2">
          <mat-form-field appearance="outline">
            <mat-label>discount</mat-label>
            <input
              type="number"
              min="0"
              max="100"
              matInput
              [(ngModel)]="limitDiscount"
              (change)="
                limitDiscount < 0 ? (limitDiscount = 0) : limitDiscount;
                limitDiscount > 100 ? (limitDiscount = 100) : limitDiscount
              "
              formControlName="off"
              required
            />
            <mat-error *ngIf="form.get('off')?.invalid">{{
              getErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-3">
        <div class="m-2">
          <mat-form-field appearance="outline">
            <mat-label>Favorite food</mat-label>
            <mat-select>
              <mat-option
                *ngFor="let category of categories"
                [value]="category.categoryId"
              >
                {{ category.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('off')?.invalid">{{
              getErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-12">
        <div class="m-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <mat-label></mat-label>
            <textarea
              matInput
              formControlName="description"
              placeholder="Enter description..."
            ></textarea>
            <mat-error *ngIf="form.get('off')?.invalid">{{
              getErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-3">
        <div class="m-2">
          <input
            type="file"
            class="file-input"
            (change)="onFileSelected($event)"
            #fileUpload
          />

          <div class="file-upload">
            {{ fileName || 'No file uploaded yet.' }}

            <button
              mat-mini-fab
              color="primary"
              class="upload-btn"
              (click)="fileUpload.click()"
            >
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <mat-card-actions align="end">
    <button class="m-1" mat-button (click)="handleCancel()">Cancel</button>
    <button class="btn-primary" mat-flat-button (click)="submitForm()">
      Save Changes
    </button>
  </mat-card-actions>
  <mat-card-footer *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
