/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import './app/shared/styles/shared.scss';

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  //TODO: Fix Scroll bug
}
html,
body {
  height: calc(100%);
  width: 100%;
  font-weight: 200;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

$hf-typography: mat.define-typography-config(
  $font-family: 'Lato',
);
$hf-theme: mat.define-light-theme(
  (
    typography: $hf-typography,
  )
);

@include mat.all-component-themes($hf-theme);
