/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";
@import "./app/shared/styles/shared.scss";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //TODO: Fix Scroll bug
}
html,
body {
  height: calc(100%);
  width: 100%;
  font-weight: 200;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}


