:root {
  
  --base-spacing: 4px;
  --base-text-size:0.7rem;
  --base-raduis: 0.25rem;

  --background: #f5f6fa;
  --main: #ffffff;
  --secondary: #6e6e6e;
  --primary: #83c9a2;
  --pure-black: #000000;


  --width-xl:1200px;
  --width-lg:992px;
  --width-md:768px;
  --width-sm:576px;
}
